# 02a - Preprocess the `development dataset` - `Timestamp` as `index`

__Goal__:

1. Read the `development` dataset `weather_dataset_raw_development.csv`, and check that it is sorted or sortit according to the `Timestamp` variable;
2. Preprocess the `Timestamp` variable, aka:
 - Remove rows with `Timestamp` duplicates;
 - Set the `Timestamp` variable as the `index` of the dataset;
 - Add empty rows (filled  with `Nan`s) to the dataset when a `Timestamp` is missing;
3. Save the `development` dataset as `weather_dataset_raw_development_timestamp.pkl`.

### Import

In [1]:
import pandas as pd
from pathlib import Path

In [2]:
data_dir = Path('../data')

# 1. Read the `development` dataset, and  check that it is sorted or sort it

## A. Read the `development` dataset

In [3]:
df = pd.read_csv(data_dir / 'weather_dataset_raw_development.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43848 entries, 0 to 43847
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   S_No                    43848 non-null  int64
 1   Timestamp               43848 non-null  object
 2   Location                43848 non-null  object
 3   Temperature_C           43848 non-null  float64
 4   Apparent_Temperature_C  43848 non-null  float64
 5   Humidity                43848 non-null  float64
 6   Wind_speed_kmph         43848 non-null  float64
 7   Wind_bearing_degrees    43848 non-null  int64
 8   Visibility_km           43848 non-null  float64
 9   Pressure_millibars      43848 non-null  float64
 10  Weather_conditions      43843 non-null  object
dtypes: float64(6), int64(2), object(3)
memory usage: 3.7+ MB

## B. Convert the `Timestamp` variable into a `datetime` without `UTC offsets`

In [4]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'], utc=True)

In [5]:
type(df['Timestamp'][0])

pandas._libs.tslibs.timestamps.Timestamp

## C. Check that the dataset is sorted according to the `Timestamp` variable

In [6]:
df.sort_values(by='Timestamp', inplace=True)

In [7]:
df.head()

,S_No,Timestamp,Location,Temperature_C,Apparent_Temperature_C,Humidity,Wind_speed_kmph,Wind_bearing_degrees,Visibility_km,Pressure_millibars,Weather_conditions
0,2881,2006-01-01 00:00:00+00:00,"Port of Turku, Finland",1.161111,-3.238889,0.85,16.6152,139,9.9015,1016.15,rain
1,2882,2006-01-01 01:00:00+00:00,"Port of Turku, Finland",1.666667,-3.155556,0.82,20.2538,140,9.9015,1015.87,rain
2,2883,2006-01-01 02:00:00+00:00,"Port of Turku, Finland",1.711111,-2.194444,0.82,14.4900,140,9.9015,1015.56,rain
3,2884,2006-01-01 03:00:00+00:00,"Port of Turku, Finland",1.183333,-2.744444,0.86,13.9426,134,9.9015,1014.98,rain
4,2885,2006-01-01 04:00:00+00:00,"Port of Turku, Finland",1.205556,-3.072222,0.85,15.9068,149,9.9820,1014.08,rain

In [8]:
df.tail()

,S_No,Timestamp,Location,Temperature_C,Apparent_Temperature_C,Humidity,Wind_speed_kmph,Wind_bearing_degrees,Visibility_km,Pressure_millibars,Weather_conditions
43843,37148,2010-12-31 19:00:00+00:00,"Port of Turku, Finland",-7.222222,-7.222222,0.96,0.1449,230,3.4293,1025.43,snow
43844,37149,2010-12-31 20:00:00+00:00,"Port of Turku, Finland",-7.200000,-7.200000,0.96,3.1717,258,3.4293,1025.57,snow
43845,37150,2010-12-31 21:00:00+00:00,"Port of Turku, Finland",-7.244444,-7.244444,0.96,3.3327,311,4.2504,1025.36,snow
43846,37151,2010-12-31 22:00:00+00:00,"Port of Turku, Finland",-7.127778,-7.127778,0.96,3.0751,260,3.8801,1025.59,snow
43847,46728,2010-12-31 23:00:00+00:00,"Port of Turku, Finland",-7.105556,-7.105556,0.96,3.2039,249,3.4132,1025.47,snow

# 2. Preprocess the `Timestamp` variable

## A. Remove `Timestamp` duplicates

In [9]:
df = df.drop_duplicates(subset=["Timestamp"], keep="last")
df.info() # 24 duplicates removed

<class 'pandas.core.frame.DataFrame'>
Index: 43824 entries, 0 to 43847
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   S_No                    43824 non-null  int64
 1   Timestamp               43824 non-null  datetime64[ns, UTC]
 2   Location                43824 non-null  object
 3   Temperature_C           43824 non-null  float64
 4   Apparent_Temperature_C  43824 non-null  float64
 5   Humidity                43824 non-null  float64
 6   Wind_speed_kmph         43824 non-null  float64
 7   Wind_bearing_degrees    43824 non-null  int64
 8   Visibility_km           43824 non-null  float64
 9   Pressure_millibars      43824 non-null  float64
 10  Weather_conditions      43819 non-null  object
dtypes: datetime64[ns, UTC](1), float64(6), int64(2), object(2)
memory usage: 4.0+ MB

In [10]:
df["Timestamp"].diff()

0                   NaT
1       0 days 01:00:00
2       0 days 01:00:00
3       0 days 01:00:00
4       0 days 01:00:00
              ...
43843   0 days 01:00:00
43844   0 days 01:00:00
43845   0 days 01:00:00
43846   0 days 01:00:00
43847   0 days 01:00:00
Name: Timestamp, Length: 43824, dtype: timedelta64[ns]

## B. Set the `Timestamp` variable as the `index` of the dataset

In [11]:
df.set_index('Timestamp', inplace=True)

## C. Add empty rows to the dataset when a `Timestamp` is missing

In [12]:
df_min_timestamp = df.index.min()
df_max_timestamp = df.index.max()
print(f'Minimum index of "df": {df_min_timestamp} \nMaximum index of "df": {df_max_timestamp}')

Minimum index of "df": 2006-01-01 00:00:00+00:00
Maximum index of "df": 2010-12-31 23:00:00+00:00

In [13]:
regular_timestamp_range = pd.date_range(start=df_min_timestamp, end=df_max_timestamp,freq='H')
print(f"Length of the dataframe `df`: {len(df)}\nLength of the datetime index `regular_timestamp_range`: {len(regular_timestamp_range)}")
if len(df) == len(regular_timestamp_range):
    print("\nNo timestamp was missing in the dataframe.")

Length of the dataframe `df`: 43824
Length of the datetime index `regular_timestamp_range`: 43824

No timestamp was missing in the dataframe.

In [14]:
regular_timestamp_df = df.reindex(regular_timestamp_range, copy=True)
regular_timestamp_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 43824 entries, 2006-01-01 00:00:00+00:00 to 2010-12-31 23:00:00+00:00
Freq: H
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   S_No                    43824 non-null  int64
 1   Location                43824 non-null  object
 2   Temperature_C           43824 non-null  float64
 3   Apparent_Temperature_C  43824 non-null  float64
 4   Humidity                43824 non-null  float64
 5   Wind_speed_kmph         43824 non-null  float64
 6   Wind_bearing_degrees    43824 non-null  int64
 7   Visibility_km           43824 non-null  float64
 8   Pressure_millibars      43824 non-null  float64
 9   Weather_conditions      43819 non-null  object
dtypes: float64(6), int64(2), object(2)
memory usage: 3.7+ MB

# 3. Save the `development` dataset as `weather_dataset_raw_development.pkl`

In [15]:
regular_timestamp_df.to_pickle(data_dir/'weather_dataset_raw_development_timestamp.pkl')