# 02e - Preprocess the `development` dataset - The target column `Future_Weather`

__Goal__: Create the target column `Future_Weather`

1. Read the clean dataset `clean_weather_dataset.pkl`
2. Add the target column `Future_Weather`
3. Save the dataset as `clean_weather_dataset_with_target.pkl`, and remove `clean_weather_dataset.pkl`.

### Import

In [1]:
import os
import pandas as pd
from pathlib  import  Path

In [2]:
data_dir = Path('../data')

# 1. Read the clean dataset

In [3]:
df = pd.read_pickle(data_dir/'clean_weather_dataset.pkl')
df.head()

,Temperature,Humidity,Wind_speed,Wind_bearing,Visibility,Pressure,Weather
2006-01-01 00:00:00+00:00,1.161111,0.85,16.6152,139,9.9015,1016.15,0.0
2006-01-01 01:00:00+00:00,1.666667,0.82,20.2538,140,9.9015,1015.87,0.0
2006-01-01 02:00:00+00:00,1.711111,0.82,14.4900,140,9.9015,1015.56,0.0
2006-01-01 03:00:00+00:00,1.183333,0.86,13.9426,134,9.9015,1014.98,0.0
2006-01-01 04:00:00+00:00,1.205556,0.85,15.9068,149,9.9820,1014.08,0.0

In [4]:
df.tail()

,Temperature,Humidity,Wind_speed,Wind_bearing,Visibility,Pressure,Weather
2010-12-31 19:00:00+00:00,-7.222222,0.96,0.1449,230,3.4293,1025.43,1.0
2010-12-31 20:00:00+00:00,-7.200000,0.96,3.1717,258,3.4293,1025.57,1.0
2010-12-31 21:00:00+00:00,-7.244444,0.96,3.3327,311,4.2504,1025.36,1.0
2010-12-31 22:00:00+00:00,-7.127778,0.96,3.0751,260,3.8801,1025.59,1.0
2010-12-31 23:00:00+00:00,-7.105556,0.96,3.2039,249,3.4132,1025.47,1.0

# 2. Add the target column `Future_Weather`

In [5]:
df['Future_Weather'] = df["Weather"].shift(4, axis = 0) 
df.head()

,Temperature,Humidity,Wind_speed,Wind_bearing,Visibility,Pressure,Weather,Future_Weather
2006-01-01 00:00:00+00:00,1.161111,0.85,16.6152,139,9.9015,1016.15,0.0,NaN
2006-01-01 01:00:00+00:00,1.666667,0.82,20.2538,140,9.9015,1015.87,0.0,NaN
2006-01-01 02:00:00+00:00,1.711111,0.82,14.4900,140,9.9015,1015.56,0.0,NaN
2006-01-01 03:00:00+00:00,1.183333,0.86,13.9426,134,9.9015,1014.98,0.0,NaN
2006-01-01 04:00:00+00:00,1.205556,0.85,15.9068,149,9.9820,1014.08,0.0,0.0

In [6]:
df.tail()

,Temperature,Humidity,Wind_speed,Wind_bearing,Visibility,Pressure,Weather,Future_Weather
2010-12-31 19:00:00+00:00,-7.222222,0.96,0.1449,230,3.4293,1025.43,1.0,1.0
2010-12-31 20:00:00+00:00,-7.200000,0.96,3.1717,258,3.4293,1025.57,1.0,1.0
2010-12-31 21:00:00+00:00,-7.244444,0.96,3.3327,311,4.2504,1025.36,1.0,1.0
2010-12-31 22:00:00+00:00,-7.127778,0.96,3.0751,260,3.8801,1025.59,1.0,1.0
2010-12-31 23:00:00+00:00,-7.105556,0.96,3.2039,249,3.4132,1025.47,1.0,1.0

### Percentage rain

In [7]:
print("Percentage rain", df['Future_Weather'].mean())

Percentage rain 0.1591967138293017

# 3. Save the dataset as `clean_weather_dataset_with_target.pkl`

In [8]:
df.to_pickle(data_dir/'clean_weather_dataset_with_target.pkl')

In [9]:
os.remove(data_dir/'clean_weather_dataset.pkl')